{% extends 'layout.html' %}
{% block content %}
    <div class="row">
    <!-- Categories here -->
    <div class="col-md-4">
      <div class="content-section">
        <h3 class="text-center">Categories</h3>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-link" href="javascript:history.back()"> Back</a>
            {% for cat in categories %}
                {% if cat.subCategories|length > 0 %}
                    <a href="{{url_for('categories.subcategories_for_category',category_id=cat.id)}}" class="list-group-item list-group-item-action list-group-item-light">{{cat.name}}</a>
                {% else %}
                    <a href="{{url_for('categories.products_for_category',category_id=cat.id)}}"
                   class="list-group-item list-group-item-action list-group-item-light">{{cat.name}}</a>
                {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>
    <!-- Products here -->
    {% if products %}
        <div class="col-md-8">
          <div class="content-section">
            <h3 class="text-center">Products</h3>
              <div class="col-lg-12">
                    <div class="row">
                      {% for p in products %}
                        <div class="col-lg-4 col-md-6 mb-3">
                            <div class="card h-100">
                            <a href="{{url_for('products.view_product',product_id=p.id)}}">
                            <img class="card-img-top"
                                 src="{{url_for('static',filename='product_pics/'+p.image_file1)}}" width=50 height=170 alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                <a href="{{url_for('products.view_product',product_id=p.id)}}" class="text-Capitalize">{{p.name}}</a>
                                </h4>$USD {{p.price|round(2)}}</h4>
                                <p class="card-text font-weight-light">$MXN {{(p.price*quote)|round(2)}}</p>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
              </div>
          </div>
        </div>
    {% endif %}
    </div>
{% endblock %}