{% extends 'layout.html' %}
{% block content %}
    <!-- Categories here -->
    <div class="col-md-5">
      <div class="content-section">
        <h3>Categories</h3>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Categories</a>
            {% for cat in categories %}
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary">{{cat.name}}</a>
            {% endfor %}
          </div>
      </div>
    </div>
    <!-- Products here -->
    <div class="col-md-7">
      <div class="content-section">
        <h3>Products</h3>
          aqui van los productos
        </p>
      </div>
    </div>
{% endblock content %}